@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/inter-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/inter-v12-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Oxygen Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oxygen-mono-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/oxygen-mono-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/oxygen-mono-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/oxygen-mono-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/oxygen-mono-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/oxygen-mono-v13-latin-regular.svg#OxygenMono') format('svg'); /* Legacy iOS */
}

html {
    font-family: "Inter", sans-serif;
}

:root {
    --nord1: #2e3440;
    --nord2: #3b4252;
    --nord3: #434c5e;
    --nord4: #4c566a;
    --nord5: #d8dee9;
    --nord6: #e5e9f0;
    --nord7: #eceff4;
    --nord8: #8fbcbb;
    --nord9: #88c0d0;
    --nord10: #81a1c1;
    --nord11: #5e81ac;
    --nord12: #bf616a;
    --nord13: #d08770;
    --nord14: #ebcb8b;
    --nord15: #a3be8c;
    --nord16: #b48ead;
    --page-max-width: 800px;
}

body {
    color: var(--nord1);
    font-size: 1.1em;
    margin: 0 auto;
    max-width: var(--page-max-width);
    padding: 1em;
    line-height: 1.5em;
}

#home {
    max-width: 30rem;
    margin: 2em auto;
    text-align: center;
}

#places a {
    width: min-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 100px;
    margin: 0.5em auto;
}

#cube {
    position: relative;
    margin: auto;
    transform-style: preserve-3d;
    animation-delay: 2s;
    animation: spin 24s linear infinite;
    width: 20em;
    height: 6em;
    margin-top: 0;
}

#cube>div {
    position: absolute;
    transform-style: preserve-3d;
    width: 10em;
}

#cube>div>h3 {
    animation: un-spin 24s linear infinite;
    max-width: 10em;
    text-align: center;
    vertical-align: middle;
}

#sub1 {
    transform: translate3d(5em, 0em, 6.7em);
}

#sub1wrap {
    animation-name: fade;
    animation-delay: 0;
    animation-duration: 12s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#sub2 {
    transform: translate3d(12.746em, 0em, -3.35em);
}

#sub2wrap {
    animation-name: fade;
    animation-delay: -8s;
    animation-duration: 12s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#sub3 {
    transform: translate3d(-0.8em, 0em, -3.35em);
}

#sub3wrap {
    animation-name: fade;
    animation-delay: -18s;
    animation-duration: 12s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {
        transform: rotateX(-0.01turn) rotateY(0turn);
    }

    to {
        transform: rotateX(-0.01turn) rotateY(1turn);
    }
}

@keyframes un-spin {
    from {
        transform: rotateY(0turn);
    }

    to {
        transform: rotateY(-1turn);
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.02;
    }
}

#subtitle.fade {
    opacity: 0;
    transition: opacity 1s ease;
}

.sidebar-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-left: auto;
    max-width: 50%;
}

.sidebar-nav-link {
    flex: 1 1;
    text-align: center;
    align-content: center;
    width: min-content;
    transition-duration: 0.1s;
}

.sidebar-nav-link > a:active {
    transition-delay: 0;
    transition-duration: 0.2s;
    background-color: var(--nord10);
    border-radius: 5px;
}

.no-shadow,
.no-shadow:hover,
.no-shadow:focus {
    box-shadow: none;
}

.headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.4em;
}

.date {
    text-align: right;
    margin: auto 0;
    min-width: max-content;
}

.project-list {
    display: flex;
    flex-direction: column;
}

.project-list-entry:first-of-type {
    margin-top: 0.5em;
}

.project-list-entry {
    flex: 1 1;
    text-align: center;
    font-size: 1.1em;
}

.project-list-entry-title-container {
    position: relative;
    color: var(--nord7);
    background-color: var(--nord10);
    border-radius: 0 15px 0 0;
    width: fit-content;
    float: left;
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-family: "Oxygen Mono", monospace;
    transform: translate(2px, -115%);
}

.project-thumbnail {
    width: 100%;
    object-fit: contain;
    max-height: 451px;
    border: 3px solid var(--nord10);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 0.2s ease-out 0.05s;
}

.project-thumbnail:hover,
.project-thumbnail:focus {
    filter: blur(1px);
}

.posts-list {
    padding: 1em 0 0 1em;
}

.posts-list-entry {
    margin: 0em 0.2em 1.5em 0.2em;
}

.posts-list-entry-header-row {
    display: flex;
    width: 90%;
}

.posts-list-entry-header > h4 {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

.posts-list-entry-date {
    flex: 1 1;
    text-align: right;
    margin: auto 0;
}

.post-summary {
    padding-left: 1.5em;
    margin-bottom: 2em;
    flex: none;
}

.some-icons-container a {
    margin: 0 0.2em;
}

pre {
    padding: 0.5em;
    border: solid 1px var(--nord4);
    border-radius: 17px;
}

code {
    background: var(--nord7);
    padding: 0 0.2em;
}

.chroma > code {
    background: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-family: "Oxygen Mono", monospace;
    line-height: 1.15em;
    margin-block-start: 1.5em;
}

h1 {
    font-size: 2.3em;
    margin: 0.2em 0;
}

h2 {
    font-size: 1.7em;
    margin: 0.3em 0;
}

a {
    color: inherit;
    text-decoration: none;
    box-shadow: inset 0 -2px 0 white, inset 0 -5px 0 var(--nord10);
    padding-bottom: 0.2em;
    transition: all 0.2s ease-out 0.05s;
}

a.active {
    color: inherit;
    text-decoration: none;
    color: var(--nord1);
    box-shadow: inset 0 -2px 0 white, inset 0 -5px 0 var(--nord10);
    background-color: var(--nord10);
    border-radius: 5px;

    padding: 0.2em 0.3em;
    transition: all 0.2s ease-out 0.05s;
}

a:hover,
a:focus {
    box-shadow: inset 0 -2px 0 white, inset 0 -5px 0 var(--nord15);
}

img {
    max-width: 100%;
}

footer {
    color: var(--nord4);
    max-width: var(--page-max-width);
    width: 100%;
    font-size: 0.7em;
    position: relative;
}

blockquote {
    font-style: italic;
    margin: 1em 0.5em 0.5em 0.5em;
}

blockquote p {
    border-left: 5px solid var(--nord10);
    padding-left: 1em;
}

figure {
    margin-inline: 10px;
}

/* Prevent image links in figure from getting the underlining */
figure a,
figure a:hover,
figure a:focus {
    box-shadow: none;
}

@media (max-width: 600px) {
    body {
        max-width: auto;
        padding: 0.5rem;
        font-size: 1em;
    }

    #home {
        margin: 0 auto;
    }

    .sidebar-nav {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: initial;
    }

    .sidebar-nav-link {
        flex: 1 1;
        text-align: center;
    }

    .headline {
        flex-direction: column;
    }

    .date {
        text-align: left;
        margin: 0;
        padding: 0;
    }

    .project-list {
        flex-direction: column;
    }

    .project-list-entry {
        margin-right: 0.3em;
    }

    .project-thumbnail {
        max-height: 230px;
    }

    .project-list-entry-title-container {
        padding: 0.5em;
    }

    .posts-list-entry-header-row {
        flex-direction: column;
    }

    .posts-list-entry-date {
        text-align: left;
        margin: 0.2em 0;
    }

    .post-summary {
        margin-top: 0.2em;
        padding-left: 0.5em;
    }
}
